body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe4e1;
}

header {
    background: linear-gradient(90deg, #ff69b4, #ff1493);
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

.container {
    color: #ff1493;
    font-size: 24;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

#searchBox {
    padding: 10px;
    width: 50%;
    border: 2px solid #ff69b4;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

#babysitter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.babysitter-card {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.babysitter-card:hover {
    transform: scale(1.05);
}

.babysitter-card h3 {
    margin: 10px 0;
    color: #ff1493;
}

.babysitter-card p {
    color: #555;
    font-size: 14px;
}

.babysitter-card button {
    margin: 5px;
    padding: 10px
}
